.products_container{
    display: grid;
    grid-template-columns:repeat(5,1fr);
object-fit: contain;
margin: 50px auto;
}
.products_container img{
width: 100%;

}
.product_flex{
    box-shadow: none;
    height: auto;
    display: flex;
    gap: 50px;
    width: 100%;
}
.product_flex h3{
padding: 20px 0px;
}
.product_flex .button{
display: block;
position: static;
width: 150px;
margin-right: 48px;
}
.product_flex{
    height: 50vh;
}
.button{
    background-color: burlywood;
}
@media (max-width:768px) {
  .product_flex{
    display: flex;
    flex-direction: column;
  }  
    
}