.lowerh{
    display: flex;
    color: white;
    background-color: #232f3e;
    gap: 30%;
    text-decoration: none;

}
.menu{
    display: flex;
}
.loweerleft{
    display: flex;
    justify-content: space-between;
    gap: 3px;
    width: 70%;
   
}
.lowerright{
    align-items: end;
    width: 20%;
}
.lowhead{
    text-decoration: none;
}
.loweerleft p{
    font-size: 20px;
}
.loweerleft li{
    list-style: none;
}